#
Options +FollowSymlinks
#RewriteBase /
RewriteEngine on
#
# prevent infinite loops
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]
#
# force ssl
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# require www without hard coding
#RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
#RewriteCond %{HTTPS}s ^on(s)|
#RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#
#
RewriteRule ^reset-password/([^/\.]+)/([0-9]+).html?$ template_default.php?slug=reset-password&ps=$1&deid=$2 [L]
RewriteRule ^reset-password/([^/\.]+).html?$ template_default.php?slug=reset-password&ps=$1 [L]
#
#
RewriteRule ^login-([0-9]+).html?$ template_default.php?slug=login&n=$1 [L]
#
RewriteRule ^we-design-survey/([0-9]+).html?$ template_default.php?slug=we-design-survey&deid=$1 [L]
#
# seo: category.html
# page: showroom-detail-view-categories.php
RewriteRule ^category.html?$ template_default.php?slug=showroom-detail-view-categories [L]
RewriteRule ([^.]+)/showroom.html?$ template_default.php?slug=showroom-detail-view-categories [L]
#
RewriteRule ^showroom.html?$ template_default.php?slug=showroom-detail-view-categories [L]
RewriteRule ([^.]+)/showroom.html?$ template_default.php?slug=showroom-detail-view-categories [L]
#
# page: showroom-detail-view-category
RewriteRule ^showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&profile_cat_id=$1 [L]
RewriteRule ([^.]+)/showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&profile_cat_id=$2 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&profile_cat_id=$4 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/showroom-category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-category&profile_cat_id=$5 [L]
#
#
#category-54/drawer-slides.htm
RewriteRule ^category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-category&profile_cat_id=$1 [L]
RewriteRule ([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-category&profile_cat_id=$2 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-category&profile_cat_id=$4 [L]
RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-category&profile_cat_id=$5 [L]
#
#
#product-3465/built-in-master-walk-in-closet.html
RewriteRule ^product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-product&productId=$1 [L]
RewriteRule ([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-product&productId=$2 [L]
RewriteRule ([^.]+)/([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessory-product&productId=$3 [L]
#
#
RewriteRule ^showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$1 [L]
RewriteRule ([^.]+)/showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$2 [L]
RewriteRule ([^.]+)/([^.]+)/showroom-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=showroom-detail-view-product&productId=$3 [L]
#
#
RewriteRule ^$ template_default.php?slug=home [L]
#
#
RewriteRule ^specification-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=specifications-details&svg_id=$1 [L]
RewriteRule ([^.]+)/specification-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=specifications-details&svg_id=$2 [L]
RewriteRule ([^.]+)/([^.]+)/specification-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=specifications-details&svg_id=$3 [L]
#
#
#RewriteRule ^accessory-products-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessories&svg_id=$1 [L]
#RewriteRule ([^.]+)/accessory-products-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessories&svg_id=$2 [L]
#RewriteRule ([^.]+)/([^.]+)/accessory-products-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessories&svg_id=$3 [L]
#
#
RewriteRule ^([^/\.]+)/closet-system-contact.html?$ template_default.php?slug=support [L]
RewriteRule ^closet-system-contact.html?$ template_default.php?slug=support [L]
#
RewriteRule ^([^/\.]+)/online-closet-design.html?$ template_default.php?slug=request-design [L]
RewriteRule ^online-closet-design.html?$ template_default.php?slug=request-design [L]
#
RewriteRule ^([^/\.]+)/shipping.html?$ template_default.php?slug=process [L]
RewriteRule ^shipping.html?$ template_default.php?slug=process [L]
#
RewriteRule ^([^/\.]+)/our-process.html?$ template_default.php?slug=process [L]
RewriteRule ^our-process.html?$ template_default.php?slug=process [L]
#
#
RewriteRule ^([^/\.]+).html?$ template_default.php?slug=$1 [L]
#
RewriteRule ^([^/\.]+)/([0-9]+).html?$ template_default.php?slug=$1&id=$2 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([0-9]+).html?$ template_default.php?slug=$2&id=$3 [L]
#
#
RewriteRule ^([^/\.]+)/([^/\.]+).html?$ template_default.php?slug=$2 [L]
RewriteRule ^([^/\.]+)/([^/\.]+)/([^/\.]+).html?$ template_default.php?slug=$3 [L]
#
#
#RewriteRule ^product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=product-detail-view&productId=$1 [L]
#RewriteRule ([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=product-detail-view&productId=$2 [L]
#RewriteRule ([^.]+)/([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=product-detail-view&productId=$3 [L]
#RewriteRule ([^.]+)/([^.]+)/([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=product-detail-view&productId=$4 [L]
#RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/product-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=product-detail-view&productId=$5 [L]
#
#
#RewriteRule ^accessories-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessories&svg_id=$1 [L]
#RewriteRule ([^.]+)/accessories-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessories&svg_id=$2 [L]
#RewriteRule ([^.]+)/([^.]+)/accessories-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=accessories&svg_id=$3 [L]
#
#
#features-details
#
#RewriteRule ^feature-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=features-details&svg_id=$1 [L]
#RewriteRule ([^.]+)/feature-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=features-details&svg_id=$2 [L]
#RewriteRule ([^.]+)/([^.]+)/feature-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=features-details&svg_id=$3 [L]
#RewriteRule ([^.]+)/([^.]+)/([^.]+)/feature-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=features-details&svg_id=$4 [L]
#RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/feature-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=features-details&svg_id=$5 [L]
#
#
#RewriteRule ^category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$1 [L]
#RewriteRule ([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$2 [L]
#RewriteRule ([^.]+)/([^.]+)/([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$4 [L]
#RewriteRule ([^.]+)/([^.]+)/([^.]+)/([^.]+)/category-([0-9]+)/([^/\.]+).html?$ template_default.php?slug=solution-detail-view&productId=$5 [L]
#
#
#
# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php72” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
